$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';

#chatWindow {
    font-family: Courier;
    height: 200px;
    overflow: auto;
}

#chatWindow p {
    margin: 0px;
}

#chatWindow .chatStatus {
    font-style: italic;
}

#chatWindow .server {
    font-weight: bold;
}

#chatWindow .clearText {
    color: red;
    font-weight: bold;
}

#chatWindow .cipherText {
    color: black;
    font-weight: bold;
}

.plugboardSettings {
    font-family: Courier;
}

input[type="text"] {
    font-family: Courier;
}

.input-nano {
    @extend .input-mini;
    text-align: center;
    width: 10px;
}
