$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.hoverHidden {
	position: relative;
    display: none;
}


#userInputForm{
	background-color:#999;
	float: right;
}

#userInputForm ul{
	list-style: none;
	list-style-position: outside;
}

#userInputForm li{
	padding: 12px;
}

.userSetting{
	margin-top: 15px;
}

.ringSetting input{
	text-align: center;
}

.groundSetting input{
	text-align: center;
}

.btn-group{
	margin-bottom: 10px;
}

